<!--<a-scene embedded arjs>-->

<!--  <a-assets>-->
<!--    <a-asset-item id="eevee-obj" src="assets/eevee/eevee.obj"></a-asset-item>-->
<!--    <a-asset-item id="eevee-mtl" src="assets/eevee/eevee.mtl"></a-asset-item>-->
<!--  </a-assets>-->

<!--  <a-marker preset="hiro">-->


<!--    <a-entity-->
<!--      position="0 0 0"-->
<!--      rotation="0 0 0"-->
<!--      scale="0.3048 0.3048 0.3048"-->
<!--      obj-model="obj: #eevee-obj; mtl: #eevee-mtl" - -->
<!--    ></a-entity>-->

<!--  </a-marker>-->
<!--  <a-entity camera></a-entity>-->

<!--</a-scene>-->
