<a-scene
  vr-mode-ui="enabled: false"
  embedded
  arjs='sourceType: webcam; videoTexture: true; debugUIEnabled: false;'
>
  <a-assets>
    <a-asset-item id="eevee-obj" src="assets/eevee/eevee.obj"></a-asset-item>
    <a-asset-item id="eevee-mtl" src="assets/eevee/eevee.mtl"></a-asset-item>
  </a-assets>

  <a-camera gps-camera rotation-reader></a-camera>

  <a-entity
    gps-entity-place="latitude: 0; longitude: 0;"
    obj-model="obj: #eevee-obj; mtl: #eevee-mtl"
    scale="0.3048 0.3048 0.3048"
    position="0 0 0"
    look-at="[gps-camera]"
  ></a-entity>
</a-scene>
